

//Cpu Power Speed Animate
.miner_animate_spin_linear.miner_animate_spin_speed16 {
    -webkit-animation-duration: .2s;
    animation-duration: .2s;
}


.s-6 .miner_animate_spin_linear {
    -webkit-animation-name: miner_animate_spin_linear;
    animation-name: miner_animate_spin_linear;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-transform-origin: center;
    transform-origin: center;
    transform-box: fill-box;
}
.s-3 .miner_animate_spin_linear {
    -webkit-animation-name: miner_animate_spin_linear;
    animation-name: miner_animate_spin_linear;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-transform-origin: center;
    transform-origin: center;
    transform-box: fill-box;
}

.s-2 .miner_animate_spin_linear {
    -webkit-animation-name: miner_animate_spin_linear;
    animation-name: miner_animate_spin_linear;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-transform-origin: center;
    transform-origin: center;
    transform-box: fill-box;
}

.miner_animate_spin_linear {
    -webkit-animation-name: miner_animate_spin_linear;
    animation-name: miner_animate_spin_linear;
    -webkit-animation-duration: 4s;
    animation-duration: 4s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-transform-origin: center;
    transform-origin: center;
    transform-box: fill-box;
}

@keyframes miner_animate_spin_linear{
0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
}
100%{
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    }
}


///Coin Animate
.miner_animate_levitation_small {
    -webkit-animation-name: miner_animate_levitation_small;
    animation-name: miner_animate_levitation_small;
}
.miner_animate_levitation {
    -webkit-animation-name: miner_animate_levitation;
    animation-name: miner_animate_levitation;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}


@keyframes miner_animate_levitation{
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    50% {
        -webkit-transform: translateY(5%);
        transform: translateY(5%);
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}



.slide_left{
    animation: slide_left .25s ease-in-out;
    
}

@keyframes slide_left {
    0%{
        transform: translateX(25vw);
    }
    100%{
        transform: translateX(0);
    }
    
}

.view-sect{
    transform: translateX(100px);
    opacity: 0;
    transition: 5s;
    transition: ease-in-out;
}

.view-sect.show{
    transform: translateX(0);
    opacity: 1;
}

.tilt-in-fwd-tl {
	-webkit-animation: tilt-in-fwd-tl 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: tilt-in-fwd-tl 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
/**
 * ----------------------------------------
 * animation tilt-in-fwd-tl
 * ----------------------------------------
 */
 @-webkit-keyframes tilt-in-fwd-tl {
    0% {
      -webkit-transform: rotateY(-20deg) rotateX(35deg) translate(-300px, -300px) skew(35deg, -10deg);
              transform: rotateY(-20deg) rotateX(35deg) translate(-300px, -300px) skew(35deg, -10deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
              transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
      opacity: 1;
    }
  }
  @keyframes tilt-in-fwd-tl {
    0% {
      -webkit-transform: rotateY(-20deg) rotateX(35deg) translate(-300px, -300px) skew(35deg, -10deg);
              transform: rotateY(-20deg) rotateX(35deg) translate(-300px, -300px) skew(35deg, -10deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
              transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
      opacity: 1;
    }
  }
  




  .slide-in-elliptic-top-fwd {
	-webkit-animation: slide-in-elliptic-top-fwd 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-elliptic-top-fwd 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}


/**
 * ----------------------------------------
 * animation slide-in-elliptic-top-fwd
 * ----------------------------------------
 */
 @-webkit-keyframes slide-in-elliptic-top-fwd {
    0% {
      -webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
              transform: translateY(-600px) rotateX(-30deg) scale(0);
      -webkit-transform-origin: 50% 100%;
              transform-origin: 50% 100%;
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0) rotateX(0) scale(1);
              transform: translateY(0) rotateX(0) scale(1);
      -webkit-transform-origin: 50% 1400px;
              transform-origin: 50% 1400px;
      opacity: 1;
    }
  }
  @keyframes slide-in-elliptic-top-fwd {
    0% {
      -webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
              transform: translateY(-600px) rotateX(-30deg) scale(0);
      -webkit-transform-origin: 50% 100%;
              transform-origin: 50% 100%;
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0) rotateX(0) scale(1);
              transform: translateY(0) rotateX(0) scale(1);
      -webkit-transform-origin: 50% 1400px;
              transform-origin: 50% 1400px;
      opacity: 1;
    }
  }